page-conta {

    .nome-conta{
        font-weight: bold;
        color: #ad0000;
    }

    .add-icon {
        color: white;
        padding-right: 5px;
    }

    .edit-icon {
        color: white;
    }

    .del-icon {
        color: white;
    }

}
