page-conta {

    .nome-conta{
        font-weight: bold;
        color: #ad0000;
    }

    .add-icon {
        color: white;
        padding-right: 5px;
    }

    .div-buttom {
        display: inline-block;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
        background-color: #ddd;
        padding: 6px 13px;
    }
}
