page-saldo-edit {
    .form-label {
        color: grey;
        font-size: 15px;
    }

    .form-input {
        text-align: right;
    }

    input {
        text-align: right;
        width: 87%;
        height: 40px;
        font-size: 25px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 10px;
        color: black;
    }

    .input100 {
        text-align: right;
        width: 100%;
        height: 40px;
        font-size: 25px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 10px;
        color: black;
    }

    .inputSoma {
        text-align: right;
        width: 57%;
        height: 30px;
        font-size: 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 10px;
        color: black;
    }

.div-buttom {
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.2);
    vertical-align:middle;
    text-align: center;
    padding: 9px 13px;
}

.div-buttom-soma {
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.2);
    vertical-align:middle;
    text-align: center;
    padding: 3px 10px;
}

.adicionavel {
 
}

}
