<ion-header>
  <ion-navbar>
    <ion-title>{{ lblButton }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="formGroup" (ngSubmit)="save(); $event.preventDefault()">

    <div class="text-label">ANO E MÊS DO EXTRATO:</div>

    <ion-item>
      <ion-label stacked>Ano:</ion-label>
      <ion-select disabled formControlName="ano">
        <ion-option *ngFor="let item of arrayAnos" [selected]="checkSel(item)" value={{item}}>{{item}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Mês:</ion-label>
      <ion-select [disabled]="disabledMes" formControlName="mes" (ionChange)="writePreviousBalance()">
        <ion-option value="" selected>[selcione o mês]</ion-option>
        <ion-option value=1>Janeiro</ion-option>
        <ion-option value=2>Fevereiro</ion-option>
        <ion-option value=3>Março</ion-option>
        <ion-option value=4>Abril</ion-option>
        <ion-option value=5>Maio</ion-option>
        <ion-option value=6>Junho</ion-option>
        <ion-option value=7>Julho</ion-option>
        <ion-option value=8>Agosto</ion-option>
        <ion-option value=9>Setembro</ion-option>
        <ion-option value=10>Outubro</ion-option>
        <ion-option value=11>Novembro</ion-option>
        <ion-option value=12>Dezembro</ion-option>
      </ion-select>
    </ion-item>
    <div class="error-form" *ngIf="formGroup.controls.mes.errors" margin-left>Selecione o mês no campo acima.</div>


    <p>&nbsp;</p>

    <div class="text-label">DADOS INICIAIS:</div>

    <ion-item>
      <ion-row>
        <ion-col class="form-label">
          Saldo Mês Anterior:<br/>
          <input type="tel" placeholder="0,00"  formControlName="saldoMesAnterior" id="saldoMesAnterior" #saldoMesAnterior (keyup)="fVal($event.target, $event)">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col align="right">
          <div #sinalSMA class="div-buttom" (click)="checkNegativo('sma')">
            inverter sinal
          </div>
        </ion-col>
      </ion-row>
    </ion-item>


    <ion-item>
      <ion-row>
        <ion-col class="form-label">
          Saldo Mês Atual:<br/>
          <input type="tel" placeholder="0,00"  formControlName="saldoMes" id="saldoMes" #saldoMes (keyup)="fVal($event.target, $event)">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col align="right">
          <div #sinalSM class="div-buttom" (click)="checkNegativo('sm')">
            inverter sinal
          </div>
        </ion-col>
      </ion-row>
    </ion-item>

    <p>&nbsp;</p>

    <div class="text-label">ENTRADAS-Totalização das Receitas:</div>

    <ion-item>
      <ion-row>
        <ion-col class="form-label">
          Receitas Correntes:<br/>
          <input type="tel" placeholder="0,00"  formControlName="somaReceitasCorrentes" id="somaReceitasCorrentes" #somaReceitasCorrentes (keyup)="fVal($event.target, $event)">
        </ion-col>
      </ion-row>
    </ion-item>


    <ion-item>
      <ion-row>
        <ion-col class="form-label">
          Receitas Extras:<br/>
          <input type="tel" placeholder="0,00"  formControlName="somaReceitasExtras" id="somaReceitasExtras" #somaReceitasExtras (keyup)="fVal($event.target, $event)">
        </ion-col>
      </ion-row>
    </ion-item>

    <p>&nbsp;</p>

    <div class="text-label">SAÍDAS-Totalização dos Gastos:</div>

    <ion-item>
      <ion-row>
        <ion-col class="form-label">
          Gastos Extras:<br/>
          <input type="tel" placeholder="0,00"  formControlName="somaGastosExtras" id="somaGastosExtras" #somaGastosExtras (keyup)="fVal($event.target, $event)">
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col class="form-label">
          Investimentos:<br/>
          <input type="tel" placeholder="0,00"  formControlName="somaInvestimentos" id="somaInvestimentos" #somaInvestimentos (keyup)="fVal($event.target, $event)">
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
        <ion-row>
          <ion-col class="form-label">
            Despesas Correntes:<br/>
            <input type="tel" placeholder="0,00"  formControlName="somaDespesasCorrentes" name="somaDespesasCorrentes" id="somaDespesasCorrentes" #somaDespesasCorrentes (keyup)="fVal($event.target, $event)">
          </ion-col>
          <div [style.visibility]="inconsistentValue ? 'visible' : 'hidden' " class="error-form" #inconsistencia id="inconsistencia" name="inconsistencia" margin-left>Valor inconsistente. Verifque todos os valores informados.</div>
        </ion-row>
      </ion-item>


    <p>&nbsp;</p>
    <button ion-button block type="submit" [disabled]="formGroup.invalid || inconsistentValue" color="danger">{{ lblButton }}</button>

  </form>
</ion-content>