<ion-header>
  <ion-navbar>
    <ion-title>{{ lblButton }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="formGroup" (ngSubmit)="save(); $event.preventDefault()">

    <p class="text-label">Dados iniciais do extrato:</p>

    <ion-item>
      <ion-label>Ano:</ion-label>
      <ion-select formControlName="ano">
        <ion-option *ngFor="let item of arrayAnos" [selected]="checkSel(item)" value={{item}}>{{item}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="error-form" *ngIf="formGroup.controls.ano.dirty && formGroup.controls.ano.errors" margin-left>Valor inválido</div>
    
    <ion-item>
      <ion-label>Mês:</ion-label>
      <ion-select formControlName="mes">
        <ion-option value=1>Janeiro</ion-option>
        <ion-option value=2>Fevereiro</ion-option>
        <ion-option value=3>Março</ion-option>
        <ion-option value=4>Abril</ion-option>
        <ion-option value=5>Maio</ion-option>
        <ion-option value=6>Junho</ion-option>
        <ion-option value=7>Julho</ion-option>
        <ion-option value=8>Agosto</ion-option>
        <ion-option value=9>Setembro</ion-option>
        <ion-option value=10>Outubro</ion-option>
        <ion-option value=11>Novembro</ion-option>
        <ion-option value=12>Dezembro</ion-option>
      </ion-select>
    </ion-item>
    <div class="error-form" *ngIf="formGroup.controls.ano.dirty && formGroup.controls.ano.errors" margin-left>Valor inválido</div>

    <ion-item class="bg-text">
      <ion-label>Saldo final do mês:</ion-label>
      <ion-label>
        <ion-icon ios="ios-calendar" md="md-ios-calendar"></ion-icon>
      </ion-label>
      <ion-input formControlName="saldoMes" type="number" text-right></ion-input>
    </ion-item>
    <div class="error-form" *ngIf="formGroup.controls.saldoMes.dirty && formGroup.controls.saldoMes.errors" margin-left>Valor inválido</div>

    <ion-item class="bg-text">
      <ion-label>Saldo do mês anterior:</ion-label>
      <ion-label>
        <ion-icon ios="ios-calendar" md="md-ios-calendar"></ion-icon>
      </ion-label>
      <ion-input formControlName="saldoMesAnterior" type="number" text-right></ion-input>
    </ion-item>
    <div class="error-form" *ngIf="formGroup.controls.saldoMesAnterior.dirty && formGroup.controls.saldoMesAnterior.errors" margin-left>Valor inválido</div>


    <div padding></div>



    <p class="text-label">Totalização das Receitas (créditos):</p>


    <ion-item class="bg-text">
      <ion-label>
        Receitas correntes:
        <div class="div-tip">(ex.: salário, remuneração)</div>
      </ion-label>

      <ion-label>
        <ion-icon ios="ios-calendar" md="md-ios-calendar"></ion-icon>
      </ion-label>
      <ion-input formControlName="somaReceitasCorrentes" type="number" text-right></ion-input>
    </ion-item>
    <div class="error-form" *ngIf="formGroup.controls.somaReceitasCorrentes.dirty && formGroup.controls.somaReceitasCorrentes.errors"
      margin-left>Valor inválido</div>

    <ion-item class="bg-text">
      <ion-label>Receitas extraordinárias:
        <div class="div-tip">(ex.: restituição do IR, empréstimo etc)</div>
      </ion-label>
      <ion-label>
        <ion-icon ios="ios-calendar" md="md-ios-calendar"></ion-icon>
      </ion-label>
      <ion-input formControlName="somaReceitasExtras" type="number" text-right></ion-input>
    </ion-item>
    <div class="error-form" *ngIf="formGroup.controls.somaReceitasExtras.dirty && formGroup.controls.somaReceitasExtras.errors"
      margin-left>Valor inválido</div>

    <div padding></div>

    <p class="text-label">Totalização dos Gastos (débitos):</p>

    <ion-item class="bg-text">
      <ion-label>Gastos extraordinários:
        <div class="div-tip">(ex: compra de carro, reforma de casa)</div>
      </ion-label>
      <ion-label>
        <ion-icon ios="ios-calendar" md="md-ios-calendar"></ion-icon>
      </ion-label>
      <ion-input formControlName="somaGastosExtras" type="number" text-right></ion-input>
    </ion-item>
    <div class="error-form" *ngIf="formGroup.controls.somaGastosExtras.dirty && formGroup.controls.somaGastosExtras.errors" margin-left>Valor inválido</div>

    <ion-item class="bg-text">
      <ion-label>Investimentos:
        <div class="div-tip">(ex: aplicação na poupança, CDB etc.)</div>
      </ion-label>
      <ion-label>
        <ion-icon ios="ios-calendar" md="md-ios-calendar"></ion-icon>
      </ion-label>
      <ion-input formControlName="somaInvestimentos" type="number" text-right></ion-input>
    </ion-item>
    <div class="error-form" *ngIf="formGroup.controls.somaInvestimentos.dirty && formGroup.controls.somaInvestimentos.errors"
      margin-left>Valor inválido</div>

    <ion-item class="bg-text">
      <ion-label>Despesas Correntes:
        <div class="div-tip">(preenchimento automático)</div>
      </ion-label>
      <ion-label>
        <ion-icon ios="ios-calendar" md="md-ios-calendar"></ion-icon>
      </ion-label>
      <ion-input formControlName="somaDespesasCorrentes" type="number" text-right></ion-input>
    </ion-item>
    <div class="error-form" *ngIf="formGroup.controls.somaDespesasCorrentes.dirty && formGroup.controls.somaDespesasCorrentes.errors"
      margin-left>Valor inválido</div>

    <div padding></div>

    <button ion-button block type="submit" [disabled]="formGroup.invalid" color="danger">{{ lblButton }}</button>
  </form>
</ion-content>