
.card-first {
    background-color: rgb(180, 13, 13);
    color: white;
    text-align: center;
}

.card-header {
    color: white;
    text-align: center;    
}

ion-icon {
    color: #ad0000;
}

.error-form {
    padding: 5px;
    background-color: rgba(253, 52, 2, 0.096);
    color: rgb(90, 5, 5);
    font-weight: bold;
}

.toast-container{
    background-color: rgb(248, 172, 7);
    }


.add-icon {
    color: white;
    padding-right: 3px;
}


.div-buttom {
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.2);
    vertical-align:middle;
    text-align: center;
    padding: 5px 12px;
}


.text-label {
    padding-left: 10px;
    color: #5a0b0b;
    font-weight: bold;
}



