
.card-first {
    background-color: rgb(180, 13, 13);
    color: white;
    text-align: center;
}

.card-header {
    color: white;
    text-align: center;    
}

ion-icon {
    color: #ad0000;
}

.error-form {
    padding: 5px;
    background-color: rgba(253, 52, 2, 0.096);
    color: rgb(90, 5, 5);
    font-weight: bold;
}





